var filter = {
    formatPrice2: function (Price) {
        if (Price > 0) {
            Price = Number(Price * 0.01);
            return Price.toFixed(0) + "元/月";
        } else {
            return "敬请期待…";
        }
    },
    roomSourcesPictures: function (pictures) {
        if (pictures != null && pictures.length > 0) {
            return pictures[0];
        } else {
            return "../../images/dataErr.png";
        }
    },
    formatYYYMMDD: function (date) {
        return date.substring(0, 10);
    },
    formatYYYMMDDHHMM: function (date) {
        return date.substring(0, 16);
    },
    formatMM: function (date) {
        return date.substring(5, 7);
    },
    formatHHMM: function (date) {
        return date.substring(11, 16);
    },
    formatAmount: function (amount) {
        amount = Number(amount * 0.01);
        return amount.toFixed(2);
    },
    getPayPeriod: function (payPeriod) {
        var rentalType = "";
        if (payPeriod == 3) {
            rentalType = "季付";
        }
        else if (payPeriod == 6) {
            rentalType = "半年付";
        }
        else if (payPeriod == 12) {
            rentalType = "年付";
        }
        else if (payPeriod == 0) {
            rentalType = "全额付";
        }
        else if (payPeriod == 1) {
            rentalType = "月付";
        }
        else if (payPeriod == 2) {
            rentalType = "两月一付";
        }
        else if (payPeriod == 5) {
          rentalType = "五月一付";
        }
        return rentalType;
    },
    getOrderType: function (orderType) {
        switch (orderType) {
            case "HouseRental":
                return "房租金";
            case "HouseDeposit":
                return "房租押金";
            case "AccessCardDeposit":
                return "门禁卡押金";
            case "ParkDeposit":
                return "停车费押金";
            case "OtherDeposit":
                return "其他押金";
            case "TenementFee":
                return "物业费";
            case "HotWaterFee":
                return "热水费";
            case "ColdWaterFee":
                return "冷水费";
            case "ElectricityFee":
                return "电费";
            case "ParkFee":
                return "停车费";
            case "LaundryFee":
                return "洗衣费";
            case "CleaningFee":
                return "保洁费";
            case "BroadBandFee":
                return "宽带费";
            case  "GasFee":
                return "燃气费";
            case  "TelevisionFee":
                return "电视费";
            case "ServiceFee":
                return "服务费";
            case "OtherFee":
                return "其他费用";
            case "Reservation":
                return "预定金";
        }
    },
    orderStateToLowerCase: function (orderState) {
        return orderState.toLowerCase();
    },
    getCleaningState: function (cleaningState) {
        var cleaning = "";
        if (cleaningState == "Created") {
            cleaning = "待处理";
        }
        else if (cleaningState == "Processed") {
            cleaning = "处理中";
        }
        else if (cleaningState == "Suspended") {
            cleaning = "挂起中";
        } else {
            cleaning = "已完成";
        }
        return cleaning;
    },
    getCleaningTypes: function (cleaningType) {
        switch (cleaningType) {
            case  "RichangBaojie":
                return "日常保洁";
            case  "ShenduBaojie":
                return "深度保洁";
            case  "CaBoli":
                return "擦玻璃";
            case  "XiaoshaChuchong":
                return "消杀除虫";
            default:
                return "其他"
        }
    },
    getRepairType: function (repairType) {
        switch (repairType) {
            case  "Qiangmian":
                return "墙面";
            case  "Diban":
                return "地板";
            case  "Chuanghu":
                return "窗户";
            case  "Tianhuaban":
                return "天花板";
            case  "Xiyiji":
                return "洗衣机";
            case  "Kongtiao":
                return "空调";
            case  "Bingxiang":
                return "冰箱";
            case  "Dianshiji":
                return "电视机";
            case  "Weibolu":
                return "微波炉";
            case  "Ranqilu":
                return "燃气炉";
            case  "Chuang":
                return "床";
            case  "Yigui":
                return "衣柜";
            case  "Canzhuo":
                return "餐桌";
            case  "Luyouqi":
                return "路由器";
            case  "Youyanji":
                return "油烟机";
            case  "PutongMensuo":
                return "普通门锁";
            case  "FangdaoMensuo":
                return "防盗门锁";
            case  "DianziMensuo":
                return "电子门锁";
            case  "Deng":
                return "灯";
            case  "Chazuo":
                return "插座";
            case  "Xianlu":
                return "线路";
            case  "Weiyudeng":
                return "卫浴灯";
            case  "Dianzha":
                return "电闸";
            case  "Dianbiao":
                return "电表";
            case  "Shuilongtou":
                return "水龙头";
            case  "Matong":
                return "马桶";
            case  "Caichi":
                return "菜池";
            case  "Linyu":
                return "淋浴";
            case  "Dilou":
                return "地漏";
            case  "Famen":
                return "阀门";
            case  "Shutong":
                return "疏通";
            default:
                return "其他";
        }
    }
};
module.exports = {
    formatPrice2: filter.formatPrice2,
    roomSourcesPictures: filter.roomSourcesPictures,
    formatYYYMMDD: filter.formatYYYMMDD,
    formatAmount: filter.formatAmount,
    getPayPeriod: filter.getPayPeriod,
    formatMM: filter.formatMM,
    formatYYYMMDDHHMM: filter.formatYYYMMDDHHMM,
    formatHHMM: filter.formatHHMM,
    getOrderType: filter.getOrderType,
    orderStateToLowerCase: filter.orderStateToLowerCase,
    getCleaningState: filter.getCleaningState,
    getCleaningTypes: filter.getCleaningTypes,
    getRepairType: filter.getRepairType

}